[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotbot-plugins/dotbot-asdf"]
	path = dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "zsh/zgenom"]
	path = zsh/zgenom
	url = https://github.com/jandamm/zgenom.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/pack/vendor/start/vim-colors-solarized"]
	path = vim/pack/vendor/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/vendor/start/vim-coffee-script"]
	path = vim/pack/vendor/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/pack/vendor/start/vim-racket"]
	path = vim/pack/vendor/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "vim/pack/vendor/start/vim-markdown"]
	path = vim/pack/vendor/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/vim-buffergator"]
	path = vim/pack/vendor/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/vendor/start/incsearch.vim"]
	path = vim/pack/vendor/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "vim/pack/vendor/start/incsearch-easymotion.vim"]
	path = vim/pack/vendor/start/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
