[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotbot-plugins/dotbot-asdf"]
	path = dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "zsh/zgenom"]
	path = zsh/zgenom
	url = https://github.com/jandamm/zgenom.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/pack/vendor/start/vim-colors-solarized"]
	path = vim/pack/vendor/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
